<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jiaofeng.zitaohui">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="design_width"
            android:value="375"/>
        <meta-data
            android:name="design_height"
            android:value="667"/>

        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity"/>
        <activity android:name=".ui.activity.ShareActivity"/>
        <activity android:name=".ui.activity.OneOfClassActivity">
        </activity>
        <activity android:name=".ui.activity.MyHistoryActivity">
        </activity>
        <activity android:name=".ui.activity.ComplaintActivity">
        </activity>
        <activity android:name=".ui.activity.ComplaintSucceActivity">
        </activity>
        <activity android:name=".ui.activity.BuyOrderActivity">
        </activity>
        <activity android:name=".ui.activity.EvaluateActivity">
        </activity>
        <activity android:name=".ui.activity.ApplyServeActivity">
        </activity>
        <activity android:name=".ui.activity.SellOrderActivity">
        </activity>
        <activity android:name=".ui.activity.AddAddressActivity">
        </activity>
        <activity android:name=".ui.activity.LogisticsActivity">
        </activity>
        <activity android:name=".ui.activity.SeachActivity">
        </activity>
        <activity android:name=".ui.activity.MessageActivity">
        </activity>
        <activity android:name=".ui.activity.SystemMessageActivity">
        </activity>
        <activity android:name=".ui.activity.CustomerServicesActivity">
        </activity>
        <activity android:name=".ui.activity.WithdrawsSucceeActivity">
        </activity>
        <activity android:name=".ui.activity.PaySafeActivity">
        </activity>
        <activity android:name=".ui.activity.ComplaintsTypeActivity">
        </activity>
        <activity android:name=".ui.activity.ComplainsRecordsActivity">
        </activity>
        <activity android:name=".ui.activity.ReturnScheduleActivity">
        </activity>
        <activity android:name=".ui.activity.OptimalStoreActivity">
        </activity>
        <activity android:name=".ui.activity.CrowdFundingActivity">
        </activity>
        <activity android:name=".ui.activity.FasterLoginActivity">
        </activity>
        <activity android:name=".ui.activity.RegisterActivity">
        </activity>
        <activity android:name=".ui.activity.ForgetPasswordActivity">
        </activity>
        <activity android:name=".ui.activity.PickerActivity">
        </activity>
        <activity android:name=".ui.activity.ShopActivity">
        </activity>
        <activity android:name=".ui.activity.SimilarActivity">
        </activity>
        <activity android:name=".ui.activity.CustomizeActivity">
        </activity>
        <activity android:name=".ui.activity.CustomizeSetActivity">
        </activity>
        <activity android:name=".ui.activity.AddressActivity">
        </activity>
        <activity android:name=".ui.activity.SpeciallyActivity">
        </activity>
        <activity android:name=".ui.activity.PersonalDataActivity">
        </activity>
        <activity android:name=".ui.activity.SignatureActivity">
        </activity>
        <activity android:name=".ui.activity.RechargeActivity">
        </activity>
        <activity android:name=".ui.activity.DetailActivity">
        </activity>
        <activity android:name=".ui.activity.SafetyActivity">
        </activity>
        <activity android:name=".ui.activity.ResetPasswordActivity">
        </activity>
        <activity android:name=".ui.activity.ForgetPassword1Activity">
        </activity>
        <activity android:name=".ui.activity.SetPasswordActivity">
        </activity>
        <activity android:name=".ui.activity.CouponActivity">
        </activity>
        <activity android:name=".ui.activity.SalesManageActivity">
        </activity>
        <activity android:name=".ui.activity.PromotionActivity">
        </activity>
        <activity android:name=".ui.activity.NewPromotionActivity">
        </activity>
        <activity android:name=".ui.activity.MassActivity">
        </activity>
        <activity android:name=".ui.activity.ContactsActivity">
        </activity>
        <activity android:name=".ui.activity.EditMessageActivity">
        </activity>
        <activity android:name=".ui.activity.ExpandActivity">
        </activity>
        <activity android:name=".ui.activity.BypassActivity">
        </activity>
        <activity android:name=".ui.activity.EditBypassActivity">
        </activity>
        <activity android:name=".ui.activity.FastSendActivity">
        </activity>
        <activity android:name=".ui.activity.EditFastSendActivity">
        </activity>
        <activity android:name=".ui.activity.SetCenterActivity">
        </activity>
        <activity android:name=".ui.activity.Approve1Activity">
        </activity>
        <activity android:name=".ui.activity.Approve2Activity">
        </activity>
        <activity android:name=".ui.activity.Approve3Activity">
        </activity>
        <activity android:name=".ui.activity.Approve4Activity">
        </activity>
        <activity android:name=".ui.activity.Approve5Activity">
        </activity>
        <activity android:name=".ui.activity.LoctionActivity">
        </activity>
        <activity android:name=".ui.activity.ChooseLoactionActivity">
        </activity>
        <activity android:name=".ui.activity.CashActivity">
        </activity>
        <activity android:name=".ui.activity.CashLogActivity">
        </activity>
        <activity android:name=".ui.activity.AuctionSetActivity">
        </activity>
        <activity android:name=".ui.activity.CouponsActivity">
        </activity>
        <activity android:name=".ui.activity.AddConponActivity">
        </activity>
        <activity android:name=".ui.activity.DiscountActivity">
        </activity>
        <activity android:name=".ui.activity.BidSetActivity">
        </activity>
        <activity android:name=".ui.activity.FansActivity">
        </activity>
        <activity android:name=".ui.activity.ShieldActivity">
        </activity>
        <activity android:name=".ui.activity.SetAuctionActivity">
        </activity>
        <activity android:name=".ui.activity.SchoolActivity">
        </activity>
        <activity android:name=".ui.activity.ReportActivity">
        </activity>
        <activity android:name=".ui.activity.Report1Activity">
        </activity>
    </application>

</manifest>