<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jiaofeng.zitaohui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="design_width"
            android:value="375"/>
        <meta-data
            android:name="design_height"
            android:value="667"/>

        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity"/>
        <activity android:name=".ui.activity.ShareActivity"/>
        <activity android:name=".ui.activity.OneOfClassActivity">
        </activity>
        <activity android:name=".ui.activity.MyHistoryActivity">
        </activity>
        <activity android:name=".ui.activity.ComplaintActivity">
        </activity>
        <activity android:name=".ui.activity.ComplaintSucceActivity">
        </activity>
        <activity android:name=".ui.activity.BuyOrderActivity">
        </activity>
        <activity android:name=".ui.activity.EvaluateActivity">
        </activity>
        <activity android:name=".ui.activity.ApplyServeActivity">
        </activity>
        <activity android:name=".ui.activity.SellOrderActivity">
        </activity>
        <activity android:name=".ui.activity.AddAddressActivity">
        </activity>
        <activity android:name=".ui.activity.LogisticsActivity">
        </activity>
        <activity android:name=".ui.activity.SeachActivity">
        </activity>
        <activity android:name=".ui.activity.MessageActivity">
        </activity>
        <activity android:name=".ui.activity.SystemMessageActivity">
        </activity>
        <activity android:name=".ui.activity.CustomerServicesActivity">
        </activity>
        <activity android:name=".ui.activity.WithdrawsSucceeActivity">
        </activity>
        <activity android:name=".ui.activity.PaySafeActivity">
        </activity>
        <activity android:name=".ui.activity.ComplaintsTypeActivity">
        </activity>
        <activity android:name=".ui.activity.ComplainsRecordsActivity">
        </activity>
        <activity android:name=".ui.activity.ReturnScheduleActivity">
        </activity>
        <activity android:name=".ui.activity.OptimalStoreActivity">
        </activity>
        <activity android:name=".ui.activity.CrowdFundingActivity">
        </activity>
        <activity android:name=".ui.activity.FasterLoginActivity">
        </activity>
        <activity android:name=".ui.activity.RegisterActivity">
        </activity>
        <activity android:name=".ui.activity.ForgetPasswordActivity">
        </activity>
        <activity android:name=".ui.activity.PickerActivity">
        </activity>
        <activity android:name=".ui.activity.ShopActivity">
        </activity>
    </application>

</manifest>